// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

#question {
  padding: 5px 20px;
  border-left: 1rem solid $gray;
}


#answer {
  padding: 5px 20px;
  background-color: #FFFFE0;
  border-left: 1rem solid $gray;
}
